<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Egzaminy</h3>
        </div>
        <div class="panel-body">
        <h2>Zdobyłeś {{ points }} punktów!</h2>
        </div>
    </div>
</div>