{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Egzaminy</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        INFO o QUIZIE
                        <table class="table table-hover table-condensed table-stripped">
                            <tr>
                                <th>%</th>
                                <th>Ocena</th>
                            </tr>
                            <tr>
                                <td>0-39</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>40-49</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>50-69</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>70-89</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>90-99</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>6</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="well">
                        <h2>[DANE UCZNIA] - [nazwa quizu]</h2>
                        <h3>{{ points }}pkt/ilość_pkt</h3>
                        <h4>Procentowo: TO DO</h4>
                        <h5>twoja ocena to: <b>TO DO</b></h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}