<div class="well well-sm well-own text-center">
            <h4>{{ user.grade.name }}</h4>
            <h5>{{ user.firstname }} {{ user.lastname }}</h5>
</div>
<div class="panel panel-default panel-own">
    <div class="panel-heading">
        Menu ucznia
    </div>
    <div class="panel-body panel-own">
        <ul class="list-group list-group-own">
            <a href="{{ path('pupil_index') }}" class="list-group-item">My Tests</a>
            <a class="list-group-item">My Profile</a>
        </ul>
    </div>
</div>
