<div class="panel panel-default panel-own">
    <div class="panel-heading">
        {{ user.username }} - {{ user.grade.name }}
    </div>
    <div class="panel-body panel-own">
        <ul class="list-group list-group-own">
            <a class="list-group-item">INDEX</a>
            <a class="list-group-item">Tests</a>
            <a class="list-group-item">Score</a>
        </ul>
    </div>
</div>
