{% extends 'pupil_base.html.twig' %}
{% block heading %}Moje wyniki{% endblock %}
{% block content %}
     {% if attempts %}
          <table class="table table-stripped table-hover">
               <tr>
                    <th>Sprawdzian</th>
                    <th>Data</th>
                    <th>Wynik</th>
                    <th>Szczegóły</th>
               </tr>
          {% for attempt in attempts %}
               {% for result in results %}
               {% if result.attempt == attempt %}
               <tr>
                    <td>{{ attempt.session.quiz.name }}</td>
                    <td>{{ attempt.started|date('Y-m-d') }}</td>
                    <td>{{ (result.points/result.maxpoints*100)|round(2) }}%</td>
                    <td><a href="{{ path('pupil_view_attempt', {'attempt':attempt.id}) }}"><i class="fa fa-search"></i></a></td>
               </tr>
               {% endif %}
               {% endfor %}
          {% endfor %}
          </table>
          <hr/>

     {% else %}
          <div class="alert alert-info">Nie rozwiązałeś jeszcze żadnego sprawdzianu!</div>
     {% endif %}
{% endblock %}
