{% extends 'base.html.twig' %}
{% block heading %}
Aktywne sesje
{% endblock %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3 text-center">
                <i class="fa fa-clock-o fa-5x"></i><br />Szybkie działanie</div>
                </div>
                <div class="col-md-3 text-center">
                    <i class="fa fa-clock-o fa-5x"></i><br />Szybkie działanie</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
