{% include 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-own">
                            {% block sidebar %}
                                {% render(controller('AppBundle:Pupil:pupilSidebar')) %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="well well-own">
                            <div class="panel panel-default panel-own">
                                <div class="panel-heading">
                                    {% block heading %}{% endblock %}
                                </div>
                                <div class="panel-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}