{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% block body %}
    <div class="container" ng-app="teacher">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                            {% block sidebar %}
                                {% render(controller('AppBundle:Teacher:teacherSidebar')) %}
                            {% endblock %}
                    </div>
                    <div class="col-md-8">
                            <div class="panel panel-default panel-own">
                                <div class="panel-heading">
                                    {% block heading %}{% endblock %}
                                </div>
                                <div class="panel-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}