@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);
body {
    font-family: 'Comfortaa';
    background-color: #F4F4F4;
}
.well-own {
    padding:0.5em;
}
.list-group-own {
    padding:0px;
    margin:0px;
}
.panel-own {
    padding:0px;
    margin:0px;
}
.panel-own .nav-pills {
    padding: 0px;
    margin: 0px;
}
