body {
    background-color: #F4F4F4;
}
.well-own {
    padding:0.5em;
}
.list-group-own {
    padding:0px;
}
.panel-own {
    padding:0px;
}
.panel-own .nav-pills {
    padding: 0px;
    margin: 0px;
}
.panel-own {
    margin: 0.5em;
}