@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);
body {
    font-family: 'Comfortaa';
    background-color: #F4F4F4;
}
.well-own {
    padding:0.5em;
}
.list-group-own {
    padding:0px;
    margin:0px;
}
.panel-own {
    padding:0px;
    margin:0px;
}
.panel-own .nav-pills {
    padding: 0px;
    margin: 0px;
}
hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    padding:0px;
    margin:1ex;
}

.alert-own {
    margin:0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
.pytania li:hover {
    background-color:#f5f5f5;
}
