{% for session in sessions %}
    <div class="col-md-4">
        <div class="well well-own text-center">
            <a href="{{ path('teacher_session_view', {'session':session.id}) }}">
                <h4>{{ session.quiz.name }}</h4>
                <i class="fa fa-search fa-lg"></i>
            </a>
            <h5>{{ session.time }} min. <i class="fa fa-clock-o"></i></h5>
        </div>
    </div>
{% endfor %}