{% extends 'teacher_base.html.twig' %}
{% block heading %}Ticzer - Added class <b>{{ grade.name }}</b>{% endblock %}
{% block content %}
<div class="alert alert-info text-center">Students can register themselves on: {{ url('pupil_register', {'grade': grade.id}) }}</div>
{#{{ form_start(form) }}#}
{% endblock %}