{% extends 'teacher_base.html.twig' %}
{% block heading %}Nowa klasa{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {% if form_errors(form.name) %}
        <div class="alert alert-danger">{{ form_errors(form.name) }}</div>
    {% endif %}
    <div class="form-group">
        {{ form_widget(form.name, {'attr':{'placeholder':'Class name'}}) }}
    </div>
    <input type="submit" class="btn btn-block btn-default" value="ADD"/>
    {{ form_end(form) }}
{% endblock %}