{#{% include 'base.html.twig' %}#}
{#{% block body %}#}
{#<div class="container">#}
    {#<div class="panel panel-default">#}
        {#<div class="panel-heading">#}
            {#PANEL TICZERA#}
        {#</div>#}
        {#<div class="panel-body">#}
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="well well-own">#}
                        {#<div class="panel panel-default panel-own">#}
                            {#<div class="panel-heading">#}
                                {#My quizes#}
                            {#</div>#}
                            {#<div class="panel-body">#}
                                {#<ul class="nav nav-pills nav-stacked">#}
                                    {#{% for quiz in quizes %}#}
                                        {#<li><a href="{{ path('editQuiz', {'id': quiz.id}) }}">{{ quiz.name }}</a></li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                                {#<a class="btn btn-default btn-block"><i class="fa fa-plus"></i>TODO</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="panel panel-default panel-own">#}
                            {#<div class="panel-heading">#}
                                {#My classess#}
                            {#</div>#}
                            {#<div class="panel-body">#}
                                {#<ul class="nav nav-pills nav-stacked">#}
                                    {#{% for class in classess %}#}
                                        {#<li><a href="">{{ class.name }}</a></li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                                {#<a class="btn btn-default btn-block" href="{{ path('teacher_grade_new') }}"><i class="fa fa-plus"></i></a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-8">#}
                    {#<div class="well well-own">#}
                        {#<div class="panel panel-default panel-own">#}
                            {#<div class="panel-body">#}
                                {#TUTAJ TREŚĆ#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#{% endblock %}#}
{% extends 'teacher_base.html.twig' %}
{% block heading %}
Panel TICZERA
{% endblock %}
{% block content %}
<h1>TO DO</h1>
{% endblock %}
